force-app/main/default/flows/BankFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Credential</name>
        <label>Credential</label>
        <locationX>399</locationX>
        <locationY>249</locationY>
        <assignmentItems>
            <assignToReference>amount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CredentialOfUSer</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>User_Name</targetReference>
        </connector>
    </assignments>
    <interviewLabel>BankFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>BankFlow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Bank_Form</name>
        <label>Bank</label>
        <locationX>202</locationX>
        <locationY>243</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Credential</targetReference>
        </connector>
        <fields>
            <name>BankForm</name>
            <extensionName>c:BankForm</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>Name</name>
                <value>
                    <elementReference>NameOfBank</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>amount</name>
                <value>
                    <elementReference>CredentialOfUSer</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>User_Name</name>
        <label>User Name</label>
        <locationX>523</locationX>
        <locationY>253</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>NameCredential</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>amount</elementReference>
            </defaultValue>
            <fieldText>NameCredential</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Bank_Form</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>amount</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CredentialOfUSer</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>NameOfBank</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>SBI Kurukshetra</stringValue>
        </value>
    </variables>
</Flow>
