force-app/main/default/flows/Contact_creation_in_Account.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Assign_Contact_Details</name>
        <label>Assign Contact Details</label>
        <locationX>711</locationX>
        <locationY>25</locationY>
        <assignmentItems>
            <assignToReference>Create_Record.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Lname</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Create_Record.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Create_Record.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ListofContacts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increment_of_initial_Value</name>
        <label>Increment of initial Value</label>
        <locationX>713</locationX>
        <locationY>250</locationY>
        <assignmentItems>
            <assignToReference>initialnumber</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Contact_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ListofContacts</name>
        <label>ListofContacts</label>
        <locationX>1023</locationX>
        <locationY>166</locationY>
        <assignmentItems>
            <assignToReference>RecordType</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Create_Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Increment_of_initial_Value</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Contact_Decision</name>
        <label>Contact Decision</label>
        <locationX>322</locationX>
        <locationY>171</locationY>
        <defaultConnector>
            <targetReference>If_ContactRecord</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Loop_for_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>initialnumber</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>ContactNumber</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Contact_Details</targetReference>
            </connector>
            <label>Loop for Contact</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_ContactRecord</name>
        <label>If ContactRecord</label>
        <locationX>325</locationX>
        <locationY>390</locationY>
        <defaultConnector>
            <targetReference>Error_Section</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contact_is_not_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecordType</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Contact</targetReference>
            </connector>
            <label>Contact is not Empty</label>
        </rules>
    </decisions>
    <interviewLabel>Contact creation in Account {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contact creation in Account</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Contact</name>
        <label>Create Contact</label>
        <locationX>619</locationX>
        <locationY>475</locationY>
        <connector>
            <targetReference>Success_Messages</targetReference>
        </connector>
        <inputReference>RecordType</inputReference>
    </recordCreates>
    <screens>
        <name>Error_Section</name>
        <label>Error Section</label>
        <locationX>332</locationX>
        <locationY>559</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Error</name>
            <fieldText>&lt;p&gt;{!ErrorMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Number_of_Contact</name>
        <label>Number of Contact</label>
        <locationX>139</locationX>
        <locationY>170</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Contact_Decision</targetReference>
        </connector>
        <fields>
            <name>ContactNumber</name>
            <dataType>Number</dataType>
            <defaultValue>
                <numberValue>1.0</numberValue>
            </defaultValue>
            <fieldText>ContactNumber</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <nextOrFinishButtonLabel>Create</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Success_Messages</name>
        <label>Success Messages</label>
        <locationX>868</locationX>
        <locationY>469</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>messages</name>
            <fieldText>&lt;p&gt;{!contact_Created}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>16</locationX>
        <locationY>8</locationY>
        <connector>
            <targetReference>Number_of_Contact</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>conNumber</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>contact_Created</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Created</stringValue>
        </value>
    </variables>
    <variables>
        <name>contactRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>Create_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>ErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Record is empty</stringValue>
        </value>
    </variables>
    <variables>
        <name>first_name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Krishna</stringValue>
        </value>
    </variables>
    <variables>
        <name>initialnumber</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Lastname</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Hitman</stringValue>
        </value>
    </variables>
    <variables>
        <name>Lname</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>hima</stringValue>
        </value>
    </variables>
    <variables>
        <name>name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Jokhaim</stringValue>
        </value>
    </variables>
    <variables>
        <name>Number_of_Contacts</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecordType</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>Success_Message</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Record Created</stringValue>
        </value>
    </variables>
</Flow>
