force-app/main/default/flows/New_Opportunity_Creation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Opportunity</name>
        <label>Opportunity</label>
        <locationX>677</locationX>
        <locationY>246</locationY>
        <actionName>NewOpportunity</actionName>
        <actionType>quickAction</actionType>
        <connector>
            <targetReference>New_Opportunity</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Create_new_Record</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>CloseDate</name>
            <value>
                <elementReference>Close_Date</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Name</name>
            <value>
                <elementReference>LAstName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>StageName</name>
            <value>
                <elementReference>Stage_Name</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>New_Opportunity</name>
        <label>New Opportunity</label>
        <locationX>473</locationX>
        <locationY>252</locationY>
        <assignmentItems>
            <assignToReference>LAstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Name.lastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Stage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Stagename</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Final</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Date</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <choices>
        <name>Choice</name>
        <choiceText>{!New_Opportunity}</choiceText>
        <dataType>Date</dataType>
    </choices>
    <constants>
        <name>Date</name>
        <dataType>Date</dataType>
    </constants>
    <dynamicChoiceSets>
        <name>Stagename</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>StageName</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>New Opportunity Creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>New Opportunity Creation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_new_Record</name>
        <label>Create new Record</label>
        <locationX>681</locationX>
        <locationY>393</locationY>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>Close_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>LAstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <elementReference>Stage</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <screens>
        <name>New_Opportunity_Creation</name>
        <label>New Opportunity Creation</label>
        <locationX>219</locationX>
        <locationY>246</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>New_Opportunity</targetReference>
        </connector>
        <fields>
            <name>Name</name>
            <extensionName>flowruntime:name</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>lastName</name>
                <value>
                    <elementReference>Name.lastName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>firstName</name>
                <value>
                    <elementReference>FirstName</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Stage_Name</name>
            <choiceReferences>Stagename</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Stage Name</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Close_Date</name>
            <dataType>Date</dataType>
            <fieldText>Close Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Create</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>93</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>New_Opportunity_Creation</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>Final</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FirstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LAstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Stage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
